.form {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 10px;
    margin: 1px;
}

@media (max-width: 730px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__newTaskInput {
    margin: 0% 1%;
    padding: 10px;
    border: 1px solid #ddd;

}

.form__newTaskButton {
    margin: 1%;
    padding: 0;
    background-color: hsl(0, 0%, 83%);
    border: black solid 1px;
    transition: 0.5s;
}


.form__newTaskButton:hover {
    background-color: hsl(0, 3%, 63%);
    transform: scale(1.1);
}
