.list {
    display: grid;
    grid-template-columns: 1fr 80px;
    padding: 10px;
    grid-gap: 12px;
    align-items: center;
    word-break: break-word;
    border-bottom: 1px solid black;
}

.list__done {
    display: flex;
    justify-content: space-between;
    text-decoration: line-through;
}

.list__buttonsContainer {
    margin: 1px;
    display: flex;
    justify-content: flex-end;

}

.list__doneButton {
    padding: 1px 0px 0px 0px;
    height: 30px;
    width: 30px;
    background-color: #70e000;
    border: none;
    transition: 0.5s;

}

.list__doneButton:hover {
    padding: 1px 0px 0px 0px;
    background-color: #70e000;
    border: none;
    border-radius: 4px;
    transform: scale(1.1);
}

.list__deleteButton {
    background-color: #bf0603;
    color: whitesmoke;
    height: 30px;
    width: 30px;
    border: none;
    transition: 0.5s;
}

.list__deleteButton:hover {
    background-color: #bf0603;
    border-radius: 4px;
    transform: scale(1.1);
}
