.section {
    background-color: wheat;
}

.section__headline {
    padding: 20px;
    font-size: 25px;
    border-bottom: 1px solid black;
}


.sectionTasks {
    list-style-type: none;
    padding: 10px;

}